<div class="row">
    <div class="col-lg-12">

        <div class="page-header">
            <h4>{{title}}</h4>
        </div>

        <style>
            .inside {
                position: absolute;
                text-indent: 5px;
                margin-top: 9px;
                color: #000000;
                font-weight: bold;
            }

            .inp {
                text-indent: 20px;
            }

          
        </style>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">User Registeration</div>
            <div class="panel-body">
                <form name="RegisterForm" novalidate="novalidate" ng-submit='RegisterForm.$valid && register()'>
                    <div class="col-md-6">

                        <div class="form-group">

                            <i class="fa fa-address-book inside" aria-hidden="true"></i>
                            <!-- <label for="firstname">FirstName</label> !-->
                            <input class="form-control inp" id="firstname" placeholder="FirstName" name="firstname" type="text" ng-model="userRegisteration.firstname"
                                ng-required="true">


                            <span style="color: red" ng-show="isUserFieldError">
                                <span ng-show="RegisterForm.username.$error.required">
                                    <i class="fa fa-asterisk" aria-hidden="true"></i> User Name is required.</span>
                            </span>
                        </div>

                        <div class="form-group">
                            <i class="fa fa-user inside" aria-hidden="true"></i>
                            <input class="form-control inp" placeholder="LastName" name="lastname" type="text" ng-model="userRegisteration.lastname"
                                ng-required="true">


                            <span style="color: red" ng-show="isUserFieldError">
                                <span ng-show="RegisterForm.username.$error.required">
                                    <i class="fa fa-asterisk" aria-hidden="true"></i> User Name is required.</span>
                            </span>
                        </div>

                        <div class="form-group">
                            <i class="fa fa-user inside" aria-hidden="true"></i>
                            <input class="form-control inp" placeholder="Username" name="username" type="text" ng-model="userRegisteration.username"
                                ng-required="true">


                            <span style="color: red" ng-show="isUserFieldError">
                                <span ng-show="RegisterForm.username.$error.required">
                                    <i class="fa fa-asterisk" aria-hidden="true"></i> User Name is required.</span>
                            </span>
                        </div>

                        <div class="form-group">
                            <i class="fa fa-key inside" aria-hidden="true"></i>
                            <input class="form-control inp" placeholder="Create Password" name="password" type="password" ng-model="userRegisteration.password"
                                ng-required="true">


                            <span style="color: red" ng-show="isPasswordFieldError">
                                <span ng-show="RegisterForm.password.$error.required">
                                    <i class="fa fa-asterisk" aria-hidden="true"></i> Password is required.</span>
                            </span>
                        </div>


                        <div class="form-group">
                            <i class="fa fa-key inside" aria-hidden="true"></i>
                            <input class="form-control inp" placeholder="Confirm Password" name="passwordConfirm" type="password" ng-model="userRegisteration.passwordConfirm"
                                ng-required="true" match="userRegisteration.password" match-caseless="true" not-match="false"
                                match-ignore-empty="true">
                            <div style="color: red" ng-show="RegisterForm.passwordConfirm.$error.match" ng-if="RegisterForm.passwordConfirm.$touched"
                                role="alert">Passwords do not match</div>
                            <div style="color: green" ng-show="!(RegisterForm.passwordConfirm.$error.match)" ng-if="!(RegisterForm.passwordConfirm.$touched)"
                                role="alert">Passwords match</div>

                            <span style="color: red" ng-show="isPasswordFieldError">
                                <span ng-show="RegisterForm.password.$error.required">
                                    <i class="fa fa-asterisk" aria-hidden="true"></i> confirm Password is required.</span>
                            </span>
                        </div>


                    </div>




                    <div class="col-md-6">

                        <div class="form-group">
                            <i class="fa fa-envelope-o inside"></i>
                            <input class="form-control inp" placeholder="test@gmail.com" name="email" type="email" ng-model="userRegisteration.email"
                                ng-required="true">

                            <span style="color: rgb(235, 5, 5)" ng-show="isPasswordFieldError">
                                <span ng-show="RegisterForm.password.$error.required">
                                    <i class="fa fa-asterisk" aria-hidden="true"></i> Email is required!!!</span>
                            </span>
                        </div>

                        <div class="form-group">
                            <i class="fa fa-phone inside" aria-hidden="true"></i>
                            <input class="form-control inp" placeholder="Mobile No" name="mobileNo" pattern="^(?=.*?[1-9])[0-9()-]+$" maxlength="10"
                                type="text" ng-model="userRegisteration.mobileNo" required>

                            <span style="color: red" ng-show="RegisterForm.mobileNo.$touched || (RegisterForm.mobileNo.$dirty && RegisterForm.mobileNo.$invalid)">
                                <span ng-show="RegisterForm.mobileNo.$error.required">
                                    <i class="fa fa-asterisk" aria-hidden="true"></i> MobileNo is required.</span>
                            </span>
                        </div>


                        <div class="form-group">
                            
                                <select class="form-control" ng-model="userRegisteration.selectedRole" ng-required="true" name="role" ng-options="role.name for role in roles">
                                    <option value="" disabled selected>---Select Role---</option>

                                </select>
                            

                            <span style="color: red" ng-show="RegisterForm.role.$dirty">
                                <span ng-show="RegisterForm.role.$error.required">
                                    <i class="fa fa-asterisk" aria-hidden="true"></i> Role is required.</span>
                            </span>
                        </div>


                        <div class="form-group">

                            <label class="control-label">Gender</label>
                            <input type="radio" ng-model="userRegisteration.selectedGender" value="male" ng-required="true">Male
                            <input type="radio" ng-model="userRegisteration.selectedGender" value="female" ng-required="true">Female
                            <input type="radio" ng-model="userRegisteration.selectedGender" value="others" ng-required="true">Others

                        </div>

                        <div class="form-group">
                            <label class="control-label">Account Status</label>
                            <div class="radio-inline">
                                <label>
                                    <input type="checkbox" value="false" ng-model="userRegisteration.isActive"> {{userRegisteration.isActive ? 'User Is Active':'User Is Not Active'}}
                                </label>
                            </div>
                        </div>


                        <switch></switch>
                        <!-- <button type="button" class="btn-circle-off" id="togglebtnId"  onclick="toggleState(this)">OFF</button> !-->
                        <custom-switch status="{{checkstatus}}"></custom-switch>
                        <button type="submit" ng-disabled="RegisterForm.$invalid" class="btn btn-primary btn-md glyphicon glyphicon-saved">Save</button>
                        <button type="reset" class="btn btn-danger btn-md" ng-click="reset();">
                            <i class="fa fa-refresh" aria-hidden="true"></i> Reset</button>


                    </div>
                </form>

            </div>
        </div>
    </div>
</div>