<div class="container">
    <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="login-panel panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <fieldset>
                            <form role="form" name="loginForm" novalidate ng-submit='loginForm.$valid && login()'>
                                <div class="form-group" ng-class="{'has-error':loginForm.username.$touched || (loginForm.username.$dirty && loginForm.username.$invalid)}">
                                    <div class="input-group">
                                            <span class="input-group-addon" id="username"><span class="glyphicon glyphicon-user"></span></span>
                                        <input class="form-control" placeholder="username" name="username" type="text" ng-model="userobj.username" ng-required="true">
                                    </div>

                                    <span style="color: red" ng-show="isUserFieldError">
                                        <span ng-show="loginForm.username.$error.required">
                                            <i class="fa fa-asterisk" aria-hidden="true"></i> User Name is required.</span>
                                    </span>

                                </div>
                                <div class="form-group" ng-class="{'has-error':loginForm.username.$touched || (loginForm.username.$dirty && loginForm.username.$invalid)}">
                                    <div class="input-group">                                        
                                        <span class="input-group-addon" id="password"><span class="glyphicon glyphicon-lock"></span></span>                                        
                                        <input class="form-control " placeholder="Password" name="password" type="{{type}}" ng-model="userobj.password" ng-required="true">
                                    </div>



                                    <span style="color: red" ng-show="isPasswordFieldError">
                                        <span ng-show="loginForm.password.$error.required">
                                            <i class="fa fa-asterisk" aria-hidden="true"></i> Password is required.</span>
                                    </span>
                                    <button type="button" class="btn btn-bitbucket btn-sm" data-ng-disabled="isChange" ng-click="changePasswordType()" style="cursor: pointer;margin-top:2px">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>

                                <button type="submit" class="btn btn-facebook btn-sm"> <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                                   

                                </button>

                                <button type="submit" class="btn btn-pinterest btn-sm"><i class="fa fa-sign-in" aria-hidden="true"></i> SignUp
                                    

                                </button>


                                <button type="button" class="btn btn-sm btn-vimeo">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i> ForgetPassword</button>


                    </div>

                    </form>
                    </fieldset>

                </div>
            </div>
        </div>
    </div>
</div>
</div>