<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">

                    <fieldset>
                        <form role="form" name="loginForm" novalidate ng-submit='loginForm.$valid && login()'>
                            <div class="form-group has-feedback">
                                    
                                <input class="form-control" placeholder="username" name="username" type="text" ng-model="userobj.username" ng-class="{error:isUserFieldError,success : !isUserFieldError}"
                                    ng-blur="checkUser()" ng-required="true">
                                    <i class="glyphicon glyphicon-user form-control-feedback"></i>

                                    <span style="color: red"
                                    ng-show="isUserFieldError">
                                    <span ng-show="loginForm.username.$error.required"> <i class="fa fa-asterisk" aria-hidden="true"></i> User Name
                                        is required.</span>
                                </span>

                            </div>
                            <div class="form-group has-feedback">
                                <input class="form-control " placeholder="Password" name="password" type="{{inputType}}" ng-model="userobj.password" ng-class="{error:isPasswordFieldError,success : !isPasswordFieldError}"
                                    ng-blur="CheckPassowrd()" ng-required="true">
                                    <i class="glyphicon glyphicon-lock form-control-feedback"></i>
                                    
                                
                                     <span style="color: red"
                                    ng-show="isPasswordFieldError">
                                    <span ng-show="loginForm.password.$error.required"> <i class="fa fa-asterisk" aria-hidden="true"></i> Password
                                        is required.</span>
                                </span> 
                                    <span ng-click="hideShowPassword()" class="col-sm-offset-10 col-sm-2" style="cursor: pointer;">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </span>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>

                            <button type="submit" class="btn btn-primary btn-sm">SignIn
                                <i class="fa fa-sign-in" aria-hidden="true"></i>

                            </button>

                            <button type="submit" class="btn btn-primary btn-sm">SignUp
                                <i class="fa fa-sign-in" aria-hidden="true"></i>

                            </button>


                             <button type="button" class="btn btn-md btn-success ">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> ForgetPassword</button>
                            
                        </form>
                    </fieldset>

                </div>
            </div>
        </div>
    </div>
</div>